@model trade_blotter.Models.TradeBooking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TradeBooking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Trade.Reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trade.Reference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TradeStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TradeStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TradeBookingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
