@model IEnumerable<trade_blotter.Models.Trade>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BuySell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contract)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lots)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TradeTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BuySell)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contract)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lots)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TradeTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TradeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TradeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TradeId })
        </td>
    </tr>
}

</table>
